@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #fff;
    margin: 0;
    padding-top: 40px;
    font-family: "Open Sans", sans-serif;
    z-index: 0;
}

p {
    margin: auto;
}

/* NAVIGATION */
nav {
    background: #333;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 10px 5px;
    text-align: center;
    list-style-type: none;
}

nav ul:after {
    content: "";
    display: block;
    clear: both;
}

nav ul li {
    display: inline;
    float: right;
    width: 120px;
}

nav ul li:nth-child(1) {
    float: left;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
}


/* INDEX.HTML */
.wrapper {
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

#banner {
    /*max-height: 500px;
    overflow: hidden;*/
    margin: 1%;
    position: relative;
}

#banner form {
    position: absolute;
    display: flex;
    width: 100%;
    top: 50%;
    left: 20%;
}

.searchTerm {
  width: 40%;
  border: 3px solid #fff;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #333;
}

.searchTerm:focus{
  color: #333;
}

.searchButton {
  width: 15%;
  height: 36px;
  border: 1px solid #fff;
  background: #333;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
}


/* LOGIN.HTML && REGISTER.HTML */
.login {
    display: block;
    max-width: 70%;
    margin: auto;
    text-align: center;
}

.login .box h2 {
    color: #525252;
}

.box{
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 0px 0px;
    border: #333 4px solid;
}

.sign-in {
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
}

.btn {
    background:#403D39;
    width:150px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;

    margin-top:20px;
    margin-bottom:20px;

    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    font-size: 1em;
}

.btn:hover {
    background:#D8AD66;
}


/* RESULTS.HTML */
.book {
    float: left;
    background: #9C4327;
    border-radius: 5px;
    width: 29.33%;
    margin: 1%;
    padding: 1%;
    height: 440px;
    text-align: center;
    line-height: 1em;
}

.book:hover {
    opacity: 0.5;
}

.book-cover {
    width: 100%;
    margin: auto;
    max-height: 180px;
    overflow: auto;
}

.book-cover img {
    width: 40%;
}

.books {
    max-width: 960px;
    margin: 1%;
}

.books:after {
    content: "";
    display: block;
    clear: both;
}

/* BOOK.HTML */
.columns {
    background: #DD8730;
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
    border: #333 solid;
    border-radius: 5px;
}

.columns section {
    display: inline-block;
    vertical-align: top;
    width: 44%;
    height: auto;
    margin: 1%;
    padding: 1%;
}

.columns section img {
    width: 50%;
}

.rating-input {
    margin: 20px auto;
}

.rating-input textarea {
    display: block;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    border: 3px solid #aaa;
}

.rating-btn {
    display: block;
    margin: 10px auto;
}

.columns:after {
    content: "";
    display: block;
    clear: both;
}

.user-reviews {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
    background: #9C4327;
    border: #333 solid;
    border-radius: 5px;
}



/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .nav-bar ul li {
        width: 100px;
    }

    .searchButton {
        width: 20%;
        font-size: 10px;
    }

    .book {
        width: 46%;
    }

    .columns section {
        width: 44%;
    }
}

@media screen and (max-width: 480px) {
    .nav-bar ul li {
        width: 80px;
    }

    .searchButton {
        width: 20%;
        font-size: 10px;
    }

    .book {
        width: 96%;
    }

    .columns section {
        width: 96%;
    }
}
