<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../static/style.css">
        <title>Project 1</title>
        <!--
        READ: https://stackoverflow.com/questions/54267740/how-to-show-logout-in-place-of-login-signup-after-i-have-logged-in-to-my-flask-a
        -->
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                {% if session['logged_in'] %}
                <li>
                    <a href="/logout">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                {% endif %}
            </ul>
        </nav>

    </head>
    <body>
        
        <div class="wrapper">
            <h1>{% block title %}{% endblock %}</h1>

            {% block body %}
            {% endblock %}
        </div>
        
    </body>
</html>